<!DOCTYPE html>
<html>

<head>
  <title>TaskBoard</title>
</head>

<body>
  <h1>TaskBoard</h1>
  {% if session.username %}
  <p>
  <a href="/profile">Profiili</a> | <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
  <a href="/new_task">Luo uusi tehtävä</a> | <a href="/find_task">Hae tehtävistä</a>
  </p>
  {% else %}
  <p>
  <a href="/login">Kirjaudu</a> | <a href="/register">Rekisteröidy</a>
  </p>
  {% endif %}

  <h2>Avoimet</h2>
  <p>{{ tasks | length }} kesken</p>
  <ul>
    {% for task in tasks %}
    <li><a href="/task/{{ task.id }}">{{ task.title }} </a></li>
    {% endfor %}
    </ul>

  <h2>Suoritetut</h2>
  <p>{{ completed_tasks | length }} suoritettua</p>
  <ul>
      {% for task in completed_tasks %}
      <li><a href="/task/{{ task.id }}">{{ task.title }} </a></li>
      {% endfor %}
      </ul>
</body>

</html>