<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjätili</title>
</head>

<body>
  <h1>Käyttäjätili</h1>
  <p>Käyttäjänimi: {{ username }}</p>
  <p>Käyttäjä-ID: {{ user_id }}</p>
  <h2>Avoimet tehtävät ({{ tasks | count }})</h2>
  <ul>
    {% for task in tasks %}
    <li><a href="/task/{{ task.id }}">{{ task.title }} </a></li>
    {% endfor %}
  </ul>
  <h2>Suoritetut tehtävät ({{ completed_tasks | count }})</h2>
  <ul>
    {% for task in completed_tasks %}
    <li><a href="/task/{{ task.id}}">{{ task.title }}</a></li>
    {% endfor %}
  </ul>
  <p><a href="/">Takaisin</a></p>
</body>

</html>
